body {
  padding: 100px;
}

.box {
  width: 100px;
  height: 100px;
  background-color: orange;

  transition-property: transform, background-color;
  transition-duration: .3s;
  /* transition-delay: 1s; */
}

.box:hover {
  transform: translateX(30px);
}