.container {
  width: 1000px;
  background-color: coral;
  display: flex;
}

.item {
  height: 200px;
}

.item1 {
  background-color: pink;
  width: 1000px;
  flex-shrink: 3;
}

.item2 {
  background-color: skyblue;
  width: 1000px;
  flex-shrink: 2;
}