$cBlack: black;
$cWhite: white;

#container {
  text-align: center;
}

.btn {
  padding: 10px 40px;
  margin: 50px;
  border: 1px solid $cBlack;
  background-color: $cWhite;
  transition: all 0.2s;
  cursor: pointer;
  font-size: 600;

  &.float {
    &:hover {
      box-shadow: 4px 4px 7px 0px $cBlack;
    }
  }
}
