.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 40px;
  background-color: blue;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: 0.3s;
}

.button:hover {
  opacity: 0.7;
}

.box {
  width: 500px;
  height: 200px;
  font-style: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000;
  border-radius: 10px;
}
